.activeLink {
  text-decoration: underline;
  background-color: rgb(0, 0, 0);
  height: 1px;
  width: auto;
}

@media (max-width: 991px) {
    .navbar-scroll {
      background-color: #000000;
    }
  }
  
  .navbar-scroll .navbar-brand {
    color: #fff;
  }
  .navbar-scrolled {
    background-color: #070707;
  }
  .navbar-scrolled .navbar-brand,
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: #fff;
  }
  .price:before,
  .price:after {
    position: absolute;
    font-size: 1.5rem;
  }
  .price:before {
    content: '$';
    margin-left: -1rem;
  }
  .price:after {
    content: '/mo';
    margin-top: 1.61rem;
  }